@using AppTest.Models.Entities
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    List<UserEntity> Users = ViewBag.Users;
    int i = 0;
}
<HeadContent>
    <link rel="stylesheet" href="~/css/AdminPanel1.css" asp-append-version="true" />
    <script src="~/js/AdminPanel1.js" asp-append-version="true"></script>
</HeadContent>


<div class="user-table">

    <form asp-action="EditUser" asp-controller="User" method="post">
        <input type="button" id ="AddButton" value="Добавить новую строку" onclick="AddNewItem()"></input>


    <table id="mainTable">
        <tr>
            <td></td>
            <td>id</td>
            <td>Login</td>
            <td>Email</td>
            
            
            <td>Page</td>
            <td>Roles</td>
            <td>Verif</td>
            <td>Delete</td>
        </tr>
        @foreach(var c in Users){
            i += 1;
            <tr>
                <td>
                    <div  class="CheckDiv" id="CheckDiv-@i"></div>
                    <input type="hidden" name="StateID" id="StateID-@i" value="1"></input>
                </td>
                <td>
                    <input type="text" size="4" name="id" readonly value="@c.Id"/>
                </td>
                <td>
                    <input type="text" name="login" readonly value="@c.Login"/>
                </td>
                <td>
                    <input type="text" size="25" onchange="ChangeState(@i)" name="email" value="@c.Email"/>
                </td>
               
                <td class="href-td">
                    <a href="/UserPage/@c.Login">Page</a>
                </td>

                    <td class="href-td">
                        <a href="/AdminPanel/@c.Login/Role">Role</a>
                    </td>

                    <td>
                        @{
                            string jk = c.IsVerified ? "checked" : "";
                        }
                        <input type="checkbox" id="Verification-@i" @jk onchange="ChangeState(@i)" name="Verify" value="@c.Id"></input>
                    </td>


                <td>
                        <input type="checkbox" id="CheckBox-@i" onchange="ChangeState(@i)" name="Deleting" value="@c.Id"></input>
                </td>


            </tr>
        }
            
    </table>
    
        <input type="hidden" id="LastId" value="@Users.Last().Id"></input>
        <input type="submit" id="SubmitButton" value="Зафиксировать изменения"></input>
        <input type="button" id="ResetButton" onclick="location.href='/Home/AdminPanel/1';" value="Сброс изменений"></input>
    </form>

</div>
